@use "/src/sass/base/variables.scss"as v;

.activities {
    margin-top: 60px;

    // &__title__h2 {

    // }

    &__title__store {
        margin-block-start: 60px;
    }

    &__store__img {
        margin: 40px auto 0 auto;
        width: 340px;
        height: 194px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }

    span {
        color: v.$ceramic;
        font-weight: 500;
    }

    &__title__ceramic {
        margin-block-start: 40px;

    }

    &__ceramics__img {
        margin: 40px auto 0 auto;
        width: 340px;
        height: 128px;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }
}