@use "/src/sass/base/variables.scss"as v;
@use "/src/sass/base/mixins.scss"as *;

.activities__store__text {
    @include text;
    margin-block-start: 20px;
    text-align: left;
}

.activities__ceramic__text {
    @include text;
    margin-block-start: 20px;
}