@use "/src/sass/base/variables.scss"as v;
@use "/src/sass/base/mixins.scss"as *;

.title-h1-italic {
    @include title;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.title-h2-store {
    @include title;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
}

.title-h3-store {
    @include title;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.title-h3-ceramic {
    @include title;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}